# .gitignore

# dependencies
node_modules

# next
.next
out

# env
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Prisma generated (custom output / generated artifacts)
generated/prisma
